<h1><%= @movie.title %></h1>
<br>
<h4><%= @movie.description %></h4>
<h4><%= @movie.year_released %></h4>

<p><a href="<%= edit_movie_path ( @movie ) %>">Edit Movie</a></p>
<br>
<%= button_to "Delete Movie", movie_path(@movie), :method => :delete %> 
